<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Ella Mathewson">

  <title>Allergy Attention</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/peanutFavicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- Bootstrap Template from https://getbootstrap.com/docs/4.0/components/alerts/ -->
</head>

<body>
  <!-- Navigation -->
<nav>
<div class="topnav" id="myTopnav">
  <a id="title">Allergy Attention</a>
  <a href="/maker">Home</a>
  <a href="/account">Account</a>
  <a href="/data">Data</a>
  <a href="/logout">Logout</a>
  <a href="javascript:void(0);" class="icon" onclick="openHamburgerMenu()">
    <img class="hamburger" src="/assets/img/menu.png">
  </a>
</div>
</nav>

  <!-- Page Content -->
<content class="errorPage">
    <h1>404: </h1>
    <h2>Page not found</h2>
</content>
<!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="/assets/bundle.js"></script>

    <script>
      // hamburger menu functionality when screen is smaller
      function openHamburgerMenu() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
</body>

</html>